# ---------------------------
# Basic application info
# ---------------------------
version.number=1.1.0
server.port=9000
spring.mvc.converters.preferred-json-mapper=gson
spring.main.allow-bean-definition-overriding=true

# ---------------------------
# Heartbeat controller info
# ---------------------------
postgres.host=localhost
postgres.port=5432
postgres.user=postgres
postgres.password=admin

# ---------------------------
# VTubers database
# ---------------------------
spring.datasource.vtubers.jdbc-url=jdbc:postgresql://localhost:5432/VTubers
spring.datasource.vtubers.username=<YOUR_USERNAME>
spring.datasource.vtubers.password=<YOUR_PASSWORD>

# ---------------------------
# Mead database
# ---------------------------
spring.datasource.mead.jdbc-url=jdbc:postgresql://localhost:5432/Mead
spring.datasource.mead.username=<YOUR_USERNAME>
spring.datasource.mead.password=<YOUR_PASSWORD>
spring.datasource.mead.driver-class-name=org.postgresql.Driver

# ---------------------------
# Shared Hibernate/JPA properties
# ---------------------------
spring.jpa.hibernate.ddl-auto=update
spring.jpa.show-sql=false
spring.jpa.database-platform=org.hibernate.dialect.PostgreSQLDialect
spring.jpa.properties.hibernate.format_sql=false
spring.jpa.properties.hibernate.dialect=org.hibernate.dialect.PostgreSQLDialect
#spring.jpa.hibernate.ddl-auto=<create | create-drop | update | validate | none>