version: "3.9"

services:
  postgres_db:
    image: postgres:17
    container_name: postgres_db
    restart: always
    environment:
      POSTGRES_USER: admin
      POSTGRES_PASSWORD: admin
    volumes:
      - postgres_data:/var/lib/postgresql/data   # persistent storage
      - ./DATABASE_FILES/init.sql:/docker-entrypoint-initdb.d/init.sql
      - ./DATABASE_FILES/VTubers_DB_v4.sql:/docker-entrypoint-initdb.d/VTubers_DB_v4.sql
      - ./DATABASE_FILES/Mead_DB.sql:/docker-entrypoint-initdb.d/Mead_DB.sql
    ports:
      - "9001:5432"
    healthcheck:
      test: ["CMD-SHELL", "pg_isready -U admin"]
      interval: 5s
      timeout: 5s
      retries: 20
    networks:
      betterjava_network:
        ipv4_address: 10.5.0.6

  betterjava:
    container_name: java_backend
    build:
      context: .
      dockerfile: Dockerfile
    ports:
      - "8080:9000"
    depends_on:
      postgres_db:
        condition: service_healthy
    environment:
      spring.datasource.vtubers.jdbc-url: jdbc:postgresql://postgres_db:5432/VTubers
      spring.datasource.vtubers.username: admin
      spring.datasource.vtubers.password: admin

      spring.datasource.mead.jdbc-url: jdbc:postgresql://postgres_db:5432/Mead
      spring.datasource.mead.username: admin
      spring.datasource.mead.password: admin
    networks:
      betterjava_network:
        ipv4_address: 10.5.0.5

volumes:
  postgres_data:

networks:
  betterjava_network:
    ipam:
      config:
        - subnet: 10.5.0.0/16
