name: Build JAR on Master Merge

on:
  push:
    branches: [master]

permissions:
  contents: read
  packages: write    

jobs: 
  build:
    runs-on: ubuntu-latest

    steps:
      - name: Checkout repository
        uses: actions/checkout@v4

      - name: Set up JDK 21
        uses: actions/setup-java@v4
        with:
          distribution: 'temurin'
          java-version: '21'
          
      - name: Make gradlew executable
        run: chmod +x ./gradlew    

      - name: Setup Gradle
        uses: gradle/actions/setup-gradle@v4

      - name: Build with Gradle
        run: ./gradlew clean build
        
      - name: Show build/libs contents
        run: ls -l build/libs

      - name: Copy JAR for upload
        run: |
          mv build/libs/BetterJava-1.0-SNAPSHOT.jar build/libs/${{ github.repository }}

      - name: Upload Jar artifact
        uses: actions/upload-artifact@v4
        with:
          name: ${{ github.repository }}-master
          path: build/libs/*.jar
        
