on:
  push:
    branches: [master]
  workflow_dispatch:  

permissions:
  contents: read
  packages: write    

jobs:
  download_betterfront_docker_image:
    runs-on: ubuntu-latest

    steps:
      - name: Download artifacts
        uses: actions/download-artifact@v4
        with:
          name: betterfront-docker-image
          path: ./artifact

      - name: List downloaded files
        run: ls -R .          
