name: Cache latest BetterFront Docker image

on:
  workflow_run:
    workflows: ["build-nodejs-server"]     # name of the workflow in BetterFront repo
    types:
      - completed
    branches:
      - main

jobs:
  save-image-as-artifact:
    if: ${{ github.event.workflow_run.conclusion == 'success' && github.event.workflow_run.head_repository.full_name == 'ArctisTor/BetterFront' }}
    runs-on: ubuntu-latest
    steps:
      - name: Download betterfront-docker-image from BetterFront
        uses: dawidd6/action-download-artifact@v6
        with:
          github_token: ${{ secrets.GH_PAT }}
          repo: ArctisTor/BetterFront
          workflow: build-nodejs-server.yml
          name: betterfront-docker-image
          path: downloaded
          if_no_artifact_found: fail

      - name: Re-upload as artifact in betterjava repo
        uses: actions/upload-artifact@v4
        with:
          name: betterfront-docker-image
          path: downloaded/betterfront-latest.tar
          retention-days: 90
          overwrite: true   # always keep only the newest one
